  <div *ngIf="courses_error">An error occurred while loading the courses...</div>
  <table class="table-fill">
    <thead>
      <tr>
        <th style="text-align:center;">Title</th>
        <th style="text-align:center;">Number</th>
        <th style="text-align:center;">Sec.</th>
        <th style="text-align:center;">Sess.</th>
        <th style="text-align:center;">Instructor</th>
      </tr>
    </thead>
    <tbody class="table-hover">
    <tr *ngFor="let c of courses">
      <td [ngSwitch]="c.earl">
        <div *ngSwitchCase="''">
          {{c.crs_title}}
        </div>
        <div *ngSwitchDefault>
          <a href="{{c.earl}}" title="{{c.crs_title}}">
            {{c.crs_title}}
          </a>
        </div>
      </td>
      <td>
      {{c.crs_no}}
      </td>
      <td style="text-align:center;">
      {{c.sec_no}}
      </td>
      <td style="text-align:center;">
      {{c.sess}}
      </td>
      <td>
      {{c.fullname}}
      </td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <th style="text-align:center;">Title</th>
        <th style="text-align:center;">Number</th>
        <th style="text-align:center;">Sec.</th>
        <th style="text-align:center;">Sess.</th>
        <th style="text-align:center;">Instructor</th>
      </tr>
    </tfoot>
  </table>
